apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: ${namespace}
spec:
  selector:
    app.kubernetes.io/name: prometheus
  ports:
    - name: web
      port: 9090
      targetPort: web
  type: ClusterIP