apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: ${namespace}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: flight-status
        metrics_path: /metrics
        static_configs:
          - targets: ["flight-status.${namespace}.svc.cluster.local:80"]